<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% block header %}{% endblock header %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div id="header">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}

            {% set homeclass, usersclass, postsclass, projectsclass = "", "", "", "" %}
            {% set url = request.url %}

            {% if "users" in url %}
            {% set usersclass = "active" %}
            {% elif "posts" in url %}
            {% set postsclass = "active" %}
            {% elif "projects" in url %}
            {% set projectsclass = "active" %}
            {% else %}
            {% set homeclass = "active" %}
            {% endif %}
            
            <div class="topnav">
                <div class="padding">
                    <a><img src="https://www.freepnglogos.com/uploads/monkey-png/monkey-png-transparent-images-png-only-6.png"
                            width="30px"></a>
                    <a class="{{ homeclass }}" href="/">Home</a>
                    <a class="{{ usersclass }}"href="/users">Users</a>
                    <a class="{{ postsclass }}"href="/posts">Posts</a>
                    <a class="{{ projectsclass }}"href="/projects">Projects</a>
                </div>
            
                <div class="signup-container">
                    {% if not session.logged_in %}
                    <a href="/sign-up">
                        <img src="https://static.thenounproject.com/png/5506-200.png" alt="W3Schools.com" width="30" height="30">
                    </a>
                    <a href="/login">Log In</a>
                    {% else %}
                    <a href="/users/{{ session.user_id }}">{{ session.username }}</a>
                    <a href="/logout">Log Out</a>
                    {% endif %}
                </div>
                <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                    </form>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>