{% extends "base.html" %}
{% block title %}MONKEYsee{% endblock title %}
{% block content %}
<style>
    .mySlides {
        display: none;
    }
</style>
<h2 class="w3-center">FEATURED ARTWORK</h2>

<div class="w3-content w3-display-container">
    <img class="mySlides" src="/static/images/carousel0.jpg" style="width:100%">
    <img class="mySlides" src="/static/images/carousel1.jpg" style="width:100%">
    <img class="mySlides" src="/static/images/carousel2.jpg" style="width:100%">
    <img class="mySlides" src="/static/images/carousel3.jpg" style="width:100%">

    <button class="w3-button w3-black w3-display-left" id="leftArrow">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" id="rightArrow">&#10095;</button>
</div>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='/js/scripts.js')}}"></script>
{% endblock scripts %}