{% extends "base.html" %}
{% block title %}Post Detail{% endblock title %}
{% block content %}
<main>
    <!-- <style>.markdown { white-space: pre; }</style> -->
    <p>Author: {{ post.user.username }}</p>
    <p>Votes: {{ post.votes }}</p>
    <h1>{{ post.title }}</h1>
    <p>----</p>
    <p class="markdown">{{ post.body|markdown }}</p>
    <p>Time Posted: {{ post.timestamp.as_datetime() }}</p>
    <hr>
    {% if replies %}
    <p><strong>Replies:</strong></p>
    {% for reply in replies %}
    <p>Author: {{ reply.user.username }}</p>
    <p>Votes: {{ reply.votes }}</p>
    <p class="markdown">{{ reply.body|markdown }}</p>
    <p>Time Replied: {{ reply.timestamp.as_datetime() }}</p>
    <hr>
    {% endfor %}
    {% endif %}
    {% include "form_template.html" %}
</main>
{% endblock content %}