{% extends "base.html" %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock title %}
{% block content %}
<main>
    <p>id: {{ user._id }}</p>
    <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Password: {{ user.password }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone Number: {{ user.phone_number }}</p>
    <p>Date of Birth: {{ user.dob }}</p>
    <p>Sex: {{ user.sex }}</p>
    <p>Role: {{ user.role }}</p>
    <p>
        Links:
        <ul>
            {% for link in user.links %}
            <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </p>
</main>
{% endblock content %}